body{ background-color: #fff; /* bgc#fff*/
color: #555; /* c#fff*/
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;/*ffa*/
}
header{
background-color: #000032; /* bgc#021710*/
color: #fff; /* c#fff*/
background-image: url(images/sunset.jpg);/*bgi*/
background-position: right;/*bgdp*/
background-repeat: no-repeat;/* bgr*/
line-height: 400%;/*lh400% */
text-indent: 1em; /* txi (mesured with #em)*/
}
nav{
background-color: #bbdefb; /* bgc#fff*/
font-weight: bold; /* fwb */
}
nav a {
text-decoration: none; /* txd */
}
h1{
    margin-bottom: 0; /* mb.0 */
}
h1, h2, h3, footer {
    font-family: Georgia, "Times New Roman", Times, serif;
}
h2{ 
    color: #1976b2; /* bgc#fff*/
}
h3 {
    color: #003; /* c#003 (shortend because it is the same number) */
}

dt{
    
    color: #002171;
}
address {
    font-style: normal; /* fsn */
}
footer {
    font-size: 75%; /* fz75% */
    font-style: italic; /* fsi */
    text-align: center; /* txa */ 
}
.resort {
    color: #1976d2; /* c#fff*/
    font-weight: bold; /* fwb */
}

